.row {
	margin-bottom: 180px;
}
header {
	border-bottom: 8px solid white;
	box-shadow: 0 5px 8px -5px #333;
}

#forecast-container {
	border: 1px solid #c2c3c5;
	padding: 20px;
	line-height: 40px;
}

#name-div {
	font-size: 25px;
	font-weight: 500;
	padding-right: 5px;
	float: left;
	color: #343a40;
}

#five-title {
	font-size: 25px;
	font-weight: 500;
	color: #343a40;
}

h5 .mt-1 {
	color: #343a40;
}

.row .bg-light {
	background-color: silver !important;
	/* https://codingwiki.fandom.com/wiki/CSS_Patterns */
	background-image: radial-gradient(
			circle at 100% 150%,
			#eaebeb 24%,
			white 24%,
			white 28%,
			#eaebeb 28%,
			#eaebeb 36%,
			white 36%,
			white 40%,
			transparent 40%,
			transparent
		),
		radial-gradient(
			circle at 0 150%,
			#eaebeb 24%,
			white 24%,
			white 28%,
			#eaebeb 28%,
			#eaebeb 36%,
			white 36%,
			white 40%,
			transparent 40%,
			transparent
		),
		radial-gradient(
			circle at 50% 100%,
			white 10%,
			#eaebeb 10%,
			#eaebeb 23%,
			white 23%,
			white 30%,
			#eaebeb 30%,
			#eaebeb 43%,
			white 43%,
			white 50%,
			#eaebeb 50%,
			#eaebeb 63%,
			white 63%,
			white 71%,
			transparent 71%,
			transparent
		),
		radial-gradient(
			circle at 100% 50%,
			white 5%,
			#eaebeb 5%,
			#eaebeb 15%,
			white 15%,
			white 20%,
			#eaebeb 20%,
			#eaebeb 29%,
			white 29%,
			white 34%,
			#eaebeb 34%,
			#eaebeb 44%,
			white 44%,
			white 49%,
			transparent 49%,
			transparent
		),
		radial-gradient(
			circle at 0 50%,
			white 5%,
			#eaebeb 5%,
			#eaebeb 15%,
			white 15%,
			white 20%,
			#eaebeb 20%,
			#eaebeb 29%,
			white 29%,
			white 34%,
			#eaebeb 34%,
			#eaebeb 44%,
			white 44%,
			white 49%,
			transparent 49%,
			transparent
		);
	background-size: 100px 50px;
	border: 1px solid #c2c3c5;
}

h1 {
	text-align: center;
	padding: 10px 10px 20px 10px;
	color: white;
	background-color: none;
	text-shadow: -4px -4px 0 #000, 2px -4px 0 #000, -4px 4px 0 #000,
		3px 3px 0 #000;
	font-family: Anime;
}

.h1,
h1 {
	font-size: 4.5rem !important;
}

.clear {
	text-align: left;
	padding-left: 0;
}

#clear-button {
	margin-top: 10px;
	background-color: #fff;
	border: 1px solid #c2c3c5;
}

#today {
	background-color: #eaebeb;
}

.card-container {
	display: inline-flex;
	flex-direction: row !important;
}

.card {
	display: inline-table;
	padding: 10px;
	margin: 10px;
	color: white;
	background-color: #999c9f !important;
	border: 1px solid #343a40 !important;
}

.card img {
	max-width: 50px;
}

.card-body {
	padding: 0 !important;
}

/* || FOOTER || */

footer {
	padding: 15px 0;
	/* Keeps Footer at the bottom of the page */
	color: #fff;
	/* Center footer content */
	text-align: center;
	background: #343a40;
	border-top: 8px solid white;
	box-shadow: 0 5px 8px 5px #333;
	width: 100%;
	height: auto;
	line-height: 5px;
	text-size-adjust: 10px;
}

footer a {
	color: white;
}

footer a:visited {
	color: lightgrey;
}

footer a:hover {
	color: darkgrey;
	text-decoration: none;
}

.contact {
	/* button and text size */
	margin-top: 7px;
	font-variant: small-caps;
}

.btn-lg {
	padding: 3.5px !important;
	line-height: 1.5;
	font-size: 14px !important;
}

.copyright {
	margin-top: 14px;
	font-size: 12px;
}

@media screen and (max-width: 600px) {
	header,
	.row {
		width: 100% !important;
	}
	.card-container {
		flex-direction: column !important;
		width: 100%;
	}
	.btn-lg {
		font-size: 10px !important;
	}
	.h1,
	h1 {
		font-size: 3.5rem !important;
	}
}
